<div class="container py-5">

  <div class="row">
    <div class="col-6 mx-auto">
      <div class="row my-3">
        <div class="col-2">*為必填</div>
        <div class="col-10 text-center">
          <h5>
            <strong>請填入你的支出</strong>
          </h5>
        </div>
      </div>
      <form action="/records" method="POST">
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">名稱*</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="請輸入支出名稱" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="date" class="col-sm-2 col-form-label">日期*</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="date" name="date" placeholder="日期格式(YYYY/MM/DD)" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="category">類別*</label>
          <div class="col-sm-10">
            <select class="custom-select" id="category" name="category" required>
              <option value="" disabled selected>請選擇</option>
              <option value="home">家居物業</option>
              <option value="shuttle-van">交通出行</option>
              <option value="grin-beam">休閒娛樂</option>
              <option value="utensils">餐飲食品</option>
              <option value="pen">其他</option>
            </select>
          </div>

        </div>
        <div class="form-group row">
          <label for="amount" class="col-sm-2 col-form-label">金額*</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="amount" name="amount" placeholder="請輸入金額" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="merchant" class="col-sm-2 col-form-label">商家</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="merchant" name="merchant" value="{{record.merchant}}">
          </div>
        </div>
        <button class="btn btn-success" type="submit">送出</button>
        <a class="btn btn-info px-3 mx-3" href="/">取消</a>
      </form>

    </div>
  </div>
</div>